*,
 ::before,
 ::after {
    font-weight: normal;
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body {
    padding: 0px;
    margin: 0px;
    background-image: linear-gradient(to right, rgb(187, 214, 68), rgb(114, 52, 111));
}

.calculator-body {
    display: grid;
    justify-content: center;
    align-content: center;
    grid-template-columns: repeat(4, 100px);
    grid-template-rows: minmax(120px, auto) (4, 100px);
    min-height: 100vh;
}

.calculator-body button {
    border: 1px solid white;
    font-size: 2rem;
    cursor: pointer;
    background-color: rgba(255, 255, 255, .65);
}

.calculator-body button:hover {
    background-color: rgba(255, 255, 255, .9);
}

.on-button {
    grid-column: span 2;
}

.plus-button {
    grid-row: 5/7;
    grid-column: 4;
}

.output-screen {
    grid-column: 1/-1;
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
    word-wrap: break-word;
    word-break: break-all;
    flex-direction: column;
    background-color: rgba(0, 0, 0, .75);
    padding: 10px;
    min-height: 5.5rem;
}

.output-screen .previous-operand {
    color: gray;
    font-size: 1.5rem;
}

.output-screen .current-operand {
    color: white;
    font-size: 2.5rem;
}